@import './base.css';

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  position: relative;
  transition: transform 0.5s;
  background: #F5FAF9;
}

.row {
  max-width: 1280px;
  width: 100%;
  padding: 0 10px;
}

.container__form {
  flex: 1;
  display: flex;
  justify-content: center;
  background: #F5FAF9;
  position: relative;
  overflow: hidden;
}

.container__form--center {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.container__image {
  flex: 1;
  display: flex;
}

.container__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.title {
  font-size: 22px;
  color: #222831;
  margin-bottom: 20px;
}

.link--emphasis {
  color: var(--link-color);
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .container__form {
    overflow: auto;
  }
}

.loading {
  background-color: #dde8ee;
  animation: loading infinite 0.8s ease-in-out alternate;
}

@keyframes loading {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.5;
  }
}

.vc-bordered,
.vc-pane-container,
.vc-pane {
  max-width: 600px;
  width: 100% !important;
  border: none !important;
}
.vc-title {
  padding: 0 !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #222831 !important;
  text-transform: capitalize;
}
.vc-weekday {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #2bb673 !important;
  text-transform: capitalize;
}
.vc-day-content:hover {
  background-color: #2bb673 !important;
  box-shadow: 0px 10px 15px 0px rgba(43, 182, 115, 0.3);
  color: #fff;
}
.vc-header {
  margin-bottom: 25px;
  gap: 25px !important;
}

.vc-day div[tabindex='0'] {
  background-color: #2bb673 !important;
  box-shadow: 0px 10px 15px 0px rgba(43, 182, 115, 0.3);
  color: #fff;
  border: none !important;
}
.vc-arrow svg {
  stroke: #2bb673;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  color: #222831;
  text-transform: initial;
  margin-bottom: 10px;
}

.container__logo {
  text-align: center;
  margin-bottom: 25px;
}